/**
 * Backend Stylesheet
 * Styling the backend of contao individually.
 *
 * @author Media Motion AG
 **/

/* Add background from Contao 4.4 */
body:not(.popup) {
    background: #132330 -webkit-radial-gradient(#234058,#0f1c26) !important;
    background: #132330 radial-gradient(#234058,#0f1c26) !important;
}

/* Make Submit-Form Sticky */
.tl_formbody_submit {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    z-index: 9;
}

/* Make Navi left sticky */
#left ul.tl_level_0 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow: auto;
}

/* Make Navi left sticky */
#left ul.tl_level_0::-webkit-scrollbar{
    display: none;
}

#left .version {
    margin-top: 0;
    box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.75);
}

/* Add Icons for known bundles */
#tl_navigation a.group-leads {
    background: url(/bundles/memobackendoptim/icons/inbox.svg) 3px 2px no-repeat;
}
#tl_navigation a.group-notification_center {
    background: url(/bundles/memobackendoptim/icons/bell.svg) 3px 2px no-repeat;
}